table, table * {
    color: #00357b;
    font-size: 32px;
    text-align: center;
    margin: 5% 0 5% 10%;
    width: 40%;
    border: 2px solid #00357b;
    border-collapse: collapse;
}

#main_heading {
    color: #00357b;
    font-size: 32px;
    margin: 2% 0 0 10%;
}

label {
    color: #00357b;
    font-size: 26px;
    margin: 2% 0 0 10%;
}

#submit_button {
    color: #00357b;
    font-size: 26px;
    margin: 2% 0 0 10%;
}